body {
  
background: linear-gradient(270deg, #6EDA9E, #A978C0, #25BE6985);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 10s ease infinite;
  border-radius: 7px;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 1;
}



/*------------❤️menu❤️--------------*/
.header {
position : fixed;
z-index : 111;
top : 0;
left : 0;
height: 45px;
width : 100%;
background : linear-gradient(135deg, rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0));
border-radius : 6px;
backdrop-filter : blur(10px);
border-radius : 20px;
border : white solid 1px;
box-shadow : 0 8px 32px 0 rgb(0, 0, 0, 1);
}
.header ul {
list-style : none;
margin : 0;
padding : 0;
overflow : hidden;
}
.logo {
font-size : 25px;
text-decoration : none;
padding : 5px;
float : left;
display : block;
color : white;
font-weight : 700;
}
.header .menu a {
padding : 15px 25px;
font-size : 20px;
display : block;
color : white;
text-decoration : none;
}
.header .menu {
clear : both;
max-height : 0;
transition : max-height 0.3s ease-out;
}
.header .menu a {
color : white;
}
.header .menu a:hover {
background : #34353C;
color : white;
}
.header .menu-icon {
position : relative;
float : right;
color: white;
padding-bottom: 20px;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
cursor : pointer;
}
.header .nav-icon {
position : relative;
display : block;
height : 2px;
width : 30px;
background : #34353C;
}
.header .menu-icon .nav-icon::before {
position : absolute;
content : "";
display : block;
height : 100%;
width : 100%;
background : #34353C;
top : 7px;
transition : all 0.2s ease-out;
}
.header .menu-icon .nav-icon::after {
position : absolute;
content : "";
display : block;
height : 100%;
width : 100%;
background : #34353C;
top : -7px;
transition : all 0.2s ease-out;
}
.header .menu-btn {
display : none;
}
.header .menu-btn:checked ~ .menu {
max-height : 600px;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon {
background : transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
transform : rotate(-45deg);
top : 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
transform : rotate(45deg);
top : 0;
}
/*------------❤️image❤️--------------*/
#image {
width : 360px;
height : 360px;

margin-left : 20px;
margin-top : 85px;
background-image: url(1718102099496.jpg);
background-size: cover;
border : white solid 1px;
box-shadow : 0 8px 32px 0 rgb(0, 0, 0, 1);
border-radius: 50%;
border: 1px dashed rgb(255, 255, 255);

}
/*------------❤️name❤️--------------*/
.text {
text-align : center;


}
#h1 {
color : white;
text-align : center;
font-size : 39px;
z-index : 100;
position: relative;
}
#h2 {
color : white;
text-align : center;
font-size : 10px;
margin-top: -25px;
position: relative;
z-index : 100;
}
#span1 {
color : #12FFCD;
font-size : 45px;
z-index : 100;
}
#span2 {
color : #12FFCD;
font-size : 20px;
z-index : 100;
}
.ta3rif {
text-align : center;
color : #fff;
font-size : 20px;
margin : 2px;
}
/*------------❤️button❤️--------------*/
.bn632-hover {
position : relative;
width : 200px;
font-size : 16px;
justify-content: center;
margin-top : 5%;
margin-left : 100px;
font-weight : 600;
color : #fff;
cursor : pointer;
height : 55px;
text-align : center;
background-size : 300% 100%;
border-radius : 50px;
transition : all 0.4s ease-in-out;
background : linear-gradient(135deg, rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0));
backdrop-filter : blur(10px);
border : white solid 1px;
box-shadow : 0 8px 32px 0 rgb(0, 0, 0, 1);
}
.bn632-hover:hover {
background-position : 100% 0;
transition : all 0.4s ease-in-out;
color : black;
}
.bn632-hover:focus {
outline : none;
box-shadow : 0 4px 15px 0 rgb(116, 79, 168, 0.75);
}
/*------------❤️socail❤️--------------*/
.azer {
position : relative;
margin-top : 35px;
margin-left: 90px;
}
#imgsocial {
border-radius : 50%;
padding: 5px;
position : relative;
border : white solid 1px;
transition : transform 0.2s, filter 0.2s;
background : linear-gradient(135deg, rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0));
backdrop-filter : blur(10px);
border-radius: 50%;
border: 1px dashed rgb(255, 255, 255);
box-shadow : 0 8px 32px 0 rgb(0, 0, 0, 1);
}
#imgsocial:hover {
transform : scale(1.2) rotate(15deg);
box-shadow : 0 0 20px rgb(255, 255, 255, 0.7);
}








@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.cadr121 {
  flex-direction: culomn;
  margin-top: 10px;
  
}
#sa1 {
  background : linear-gradient(135deg, rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0));
border-radius : 6px;
backdrop-filter : blur(10px);
width: 170px;
  height: 150px;
  margin-left: 60px;
  margin-top: 20px;
border : white solid 1px;
box-shadow : 0 8px 32px 0 rgb(0, 0, 0, 1);
padding: 10px 10px 0 10px;
}
#cadr123{
  width: 80px;
  height: 80px;
  padding: 7px 0 0 40px;
}
#ppp {
  font-size: 20px;
  text-align: center;
  color: white;
  
}
#cadr123a{
  width: 80px;
  height: 80px;
  padding-left: 55px;
}
#cadr123b{
  width: 80px;
  height: 80px;
  padding-left: 55px;
}
#awal {
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
  color: white;
}


